@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap');

:root{
    /*=============== color ==============  */

    --pallete-1: #3E3c6E;
    --pallete-2: #FE9798;
    --pallete-3: #FEAE97;
    --pallete-4: #F6E8DF;
    --pallete-5: #023336;
    --pallete-6: #4da674;
    --pallete-7: #C1E6BA;
    --pallete-8: #EAF8E7;
    --pallete-9: #293855;
    --pallete-10: #4165D5;
    --pallete-11: #F1AC20;
    --pallete-12: #c3e8c9;
    --pallete-13: #252525;
    --pallete-14: #61CBFF;
    --pallete-15: #A56ABD;
    --pallete-16: #E95354;
    --pallete-17: #50ADBF;
    --pallete-18: #19384A;
    --pallete-19: #FDDA76;
    --pallete-20: #1B1B1B;
    --pallete-21: #77ABB6;
    --pallete-22: #F8B097;
    --pallete-23: #3FC495;
    --pallete-24: #F9CD6A;
    --pallete-25: #4840A3;
    --pallete-26: #9CBBFC;
    --pallete-27: #D8EFF7;
    --white: #fff;
    --black: #000;


    /*=============== fontsize ==============  */
    --text-sm: 1.2rem;
    --text-base: 1.6rem;
    --text-paragraph: clamp(1.5em, 2vw, 4em);;
    --text-h5: 2.4rem;
    --text-h4: 3.2rem;
    --text-h3:  4.0rem;
    --text-h2: 4.8rem;
    --text-h1: clamp(5em, 5vw, 8em);
    
    /*=============== fontweight ==============  */
    --font-weight-normal: 400;
    --font-weight-bold: 700;

    /*=============== line-height ==============  */
    --line-height-tight: 1.2;
    --line-height-normal: 1.5;

    /*=============== line-spacing ==============  */
    --letter-spacing-tight: -2px
    
    /*=============== font-family ==============  */
    --font-family: "Poppins", serif;
    --font-family2: "Agu Disploy", serif;
}
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      
      html{
        font-size: 62.5%;
      }
body{
    background-color: #f5faf6;
    font-family: "Poppins", serif;
    overflow-x: hidden;
}
/* ---Nabigation----- */

nav{
    display: flex;
    position: static;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    
    right: 0;
    padding: 2.0rem;
    color: var(--black);
    /* background-color: #023336; */
}
nav a{
    padding: 2.0rem;
    
    color: var(--black);
}

.contact{
  display: flex; 
  align-items: center;
  justify-content: center;
   gap: 1.5rem;
}

.open, .close{
    display: none;
}
 video, .logo {
   max-height: 150px;
   margin-right: auto;

   mix-blend-mode: darken;
    
}
a{
    text-decoration: none;
    color: var(--black);
    font-size: clamp(2em, 2vw, 3em);
}
p{
  font-size: var(--text-paragraph);
}
span{
  font-size: clamp(2em, 2vw, 3em);
}
h1{
  font-size: var(--text-h1);
}
/* ------buttons------ */

.btn{
    padding: 1.0rem 1.5rem;
    

}
.btn-primary{
    border: 2px solid #646161;
    transition:  .35s ease-in;
    position: relative;
    

}
.btn-primary::after{
 
  transition: .5s ease-in;
  position: absolute;
  background: black;
  width: 0;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  content: '';
  

}
.btn-secondary{
    border: 2px solid #646161;
    transition: .5s ease-in;
    position: relative;


}
.btn-secondary:after{
  content: '';
  background: rgb(0, 2, 128);
  position: absolute;
  height: 100%;
  width: 0;
  right: -1%;
  top: 0;
  transition: .5s ease-in;
  z-index: -1;
  
}
a:hover{
  text-decoration: none;
  color: rgb(194, 179, 179);
}
.btn-primary:hover::after{
    background: black;
    width: 100%;

}
.btn-secondary:hover:after{
    right: 0;
    width: 100%;
    
}
.compare{
  position: relative;
  cursor: pointer;
  font-size: clamp(2em, 2vw, 3em);
}
.compare::after{
  content: '';
  height: 5px;
  width: 10px;
  background: red;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: .5s ease-in;
}
.compare:hover::after{
  width: 100%;
}


/* -----HEROSECTION--------*/
.hero-section{
  max-width: 90%;
  margin-inline: auto;
  
  position: relative;
}
.about{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: .5s ease-in;
}
 .bout::before{
  content: '✅';
}
.hero-section p{
  color: var(--pallete-6);
  font-weight: var(--font-weight-bold);
  margin-top: 10px;
  margin-bottom: 20px;
}
.hero-section  h1{
  font-size: var(--text-h1);
  display: inline-block;
}
.sh{
  font-size: var(--text-h1);
}

 .hero-img{
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  min-height: 420px;
  max-width: 850px;
  margin-inline: auto;
  object-fit: cover;
  z-index: -2;
  
  border-radius: 360px 0px 0px 8px;
  box-shadow: 8px 5px 15px rgba(0, 0, 0, 75);

}

/* --------WHYUS---------- */
.why-us{
  max-width: 90%;
  margin-top: 250px;
  height: 100vh;
  margin-inline: auto;
  position: relative;
  transition: .5s ease-in;
 
}
.back{
  position: absolute;
  width:100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  z-index: -4;
  mix-blend-mode:normal;
 
 
  

}
.apply{
  min-height: 150px;
  max-width: 250px;
  border-radius: 50%;
  background-color: #99c4b5;
  position: relative;
  top: 0;
  margin-bottom: 150px;
  left: 25%;
  display: flex;
  padding: 2.0rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0.8;
  transition: .5s ease-in;
  
  
}
.apply::before, 
.apply::after{
  content: '';
  background: #eaebe5;
  position: absolute;
  min-height: 220px;
  min-width: 280px;
  opacity: .5;
  border-radius: 50%;
  z-index: -1;
}
#text{
  padding: 2.0rem;
  font-size: 1.4rem;
  

}
.representative{
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 2.0rem;
  width: 90%;
  background-color:#99c4b5;
  border-radius: 0 18px 18px 0;
  opacity: 0.9;
  
  
}


.representative::after{
  
  height: 110%;
  width: 101%;
  content: '';
  background: #eaebe5;
  position: absolute;
  border-radius: 0 18px 18px 0;
  z-index: -1;
  top: -5%;
  right: -15%;
  left: 0;

}
#innertext{
  font-size: clamp(1em, 1vw, 3em);
}
/* ---------TESTIMONIAL------- */
.testcontainer{
  
  max-width: 100%;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  /* background-color: #26a9e6; */
  margin-top: 150px;
  flex-wrap: wrap;
  
}
.testimonial{
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg,rgb(69, 95, 69), rgb(133, 133, 5));
  min-height: 600px;
  max-width: 500px;
  padding: 5.0rem;
  width: 90%;
  border-radius: 12px;
  position: relative;
  box-shadow: 2px 8px 15px rgb(17, 16, 16);
  transition: .5s ease-in;
 
}
.testimonial p{
  font-size: var(--text-paragraph);
}
.avatar{
  position: absolute;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  bottom: 2%;
  right: 2%;
  box-shadow: 5px 8px 15px rgb(17, 16, 16);
  
}
.testimonial::after{
  content: '❞';
  
  position: absolute;
  top: 15%;
  right: 5%;
  font-size: clamp(5em,10vw,9em);
  color: #00ffff;
  text-shadow: 2px 5px 15px rgb(0, 2, 128);
}








/* ---------cta-------- */
.trust{
  margin-top: 250px;
  max-width: 90%;
  margin-inline: auto;
  display: flex;
  align-items: center;
  gap: 50px;
}
.info{
  margin-left: auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
  border-radius:50% ;
  max-width: 80px;
  min-height: 80px;
  position: relative;
}
.info::before{
  content: '';
  position: absolute;
  background: #1da0b8;
  height: 50px;
  width: 50px;
  opacity: 0.5;
  border-radius: 50%;
  top: 5%;
  left: -40%;
  text-decoration: line-through 2px solid ;
}
.info::after{
  content: '';
  position: absolute;
  background: #1da0b8;
  height: 60px;
  width: 60px;
  opacity: 0.4;
  border-radius: 50%;
  inset: 0;
  top: 3%;
  left: -45%;
  text-decoration: line-through 2px solid ;
}
.apply-head{
  margin-top: 150px;
  max-width: 90%;
  margin-right: 50px;
  background-color: var(--pallete-7);
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0px 158px 0  0 ;
  box-shadow: 16px 19px 15px rgb(17, 16, 16);
}
#fee{
  background-color: var(--pallete-16);
  padding: 2.0rem;
}
.fill-up{
  max-width: 90%;
  margin-right: 50px;
  background-color:var(--pallete-7) ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 15px 18px 15px rgb(17, 16, 16);
}
.apply-head h2{
  font-size: clamp(.3em,5vw,8em);
}
.form-group{
  
  gap: 150px;
}
input{
  font-size: 2.4rem;
 

}
.btn-tertiary{
  background-color: #4165D5;
  padding: 1.0rem 1.5rem;
  margin: 20px 65%;
  border-radius: 1.5rem;
}
.result{
  display: none;
}
/* ------icons------- */


@media (max-width:1200px) {
    .contact{
        display: none;
    }
    .open{
        display: flex;
    }


    
}

@media (max-width:700px) {
  .contact{
      display: none;
  }
  .open{
      display: flex;
  }
  .hero-img{
    position: absolute;
    top: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    max-height: 120px;
    min-width: 50px;
    margin-inline: auto;
    object-fit: cover;
    z-index: -2;
    
  
  }
  
  

  
}