@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap');

:root{
    /*=============== color ==============  */

    --pallete-1: #3E3c6E;
    --pallete-2: #FE9798;
    --pallete-3: #FEAE97;
    --pallete-4: #F6E8DF;
    --pallete-5: #023336;
    --pallete-6: #4da674;
    --pallete-7: #C1E6BA;
    --pallete-8: #EAF8E7;
    --pallete-9: #293855;
    --pallete-10: #4165D5;
    --pallete-11: #F1AC20;
    --pallete-12: #c3e8c9;
    --pallete-13: #252525;
    --pallete-14: #61CBFF;
    --pallete-15: #A56ABD;
    --pallete-16: #E95354;
    --pallete-17: #50ADBF;
    --pallete-18: #19384A;
    --pallete-19: #FDDA76;
    --pallete-20: #1B1B1B;
    --pallete-21: #77ABB6;
    --pallete-22: #F8B097;
    --pallete-23: #3FC495;
    --pallete-24: #F9CD6A;
    --pallete-25: #4840A3;
    --pallete-26: #9CBBFC;
    --pallete-27: #D8EFF7;
    --white: #fff;
    --black: #000;


    /*=============== fontsize ==============  */
    --text-sm: 1.2rem;
    --text-base: 1.6rem;
    --text-paragraph: 2rem;
    --text-h5: 2.4rem;
    --text-h4: 3.2rem;
    --text-h3:  4.0rem;
    --text-h2: 4.8rem;
    --text-h1: clamp(4em, 5vw, 8em);
    
    /*=============== fontweight ==============  */
    --font-weight-normal: 400;
    --font-weight-bold: 700;

    /*=============== line-height ==============  */
    --line-height-tight: 1.2;
    --line-height-normal: 1.5;

    /*=============== line-spacing ==============  */
    --letter-spacing-tight: -2px
    
    /*=============== font-family ==============  */
    --font-family: "Poppins", serif;
    --font-family2: "Agu Disploy", serif;
}
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      
      html{
        font-size: 62.5%;
      }
body{
    min-height: 100vh;
    font-family: "Poppins", serif;
}
/* ---Nabigation----- */

nav{
    display: flex;
    position: static;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    
    right: 0;
    padding: 2.0rem;
    color: var(--black);
    /* background-color: #023336; */
}
nav a{
    padding: 2.0rem;
    
    color: var(--black);
}

.contact{
  display: flex; 
  align-items: center;
  justify-content: center;
   gap: 1.5rem;
}

.open, .close{
    display: none;
}
 video, .logo {
   max-height: 150px;
   margin-right: auto;

   mix-blend-mode: color;
    
}
a, span{
    font-size: var(--text-paragraph);
    text-decoration: none;
    color: var(--black);
}
h1{
    font-size: var(--text-h1);
}
/* ------buttons------ */

.btn{
    padding: 1.0rem 1.5rem;
    

}
.btn-primary{
    border: 2px solid #646161;
    transition: .5s ease-in;

}
.btn-secondary{
    border: 2px solid #646161;
    transition: .5s ease-in;

}
.btn-primary:hover{
    color: var(--white);
    background-color: var(--pallete-11);
   
}
.btn-secondary:hover{
    color: var(--white);
    background-color: var(--pallete-13);
    
}


/* ------icons------- */
.icon-container{
    display: flex;
    gap: 20px;
    padding: 1.0rem;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 30px;
    position: relative;
  }
  .icons{
    display: flex;
    background-color: transparent;
    backdrop-filter: blur(15px);
    color: var(--white);
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    display: flex;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: #111142;
    margin-right: 20px;
    border: 1px solid #380ce6;
    box-shadow: 0 2px 15px#4321cc;
    cursor: pointer;
    transition: .5s ease-in-out;
  }
  .icons:hover{
    background-color: #0ce6d4;
    fill: #00ffff;
  }
  .iconic:hover{
    fill: white;
  }

  footer{
    display: flex;
    background-color: var(--black);
    min-height: 200px;
    
 
  }
  footer span{
    color: var(--white);
  }

@media (max-width:1200px) {
    .contact{
        display: none;
    }
    .open{
        display: flex;
    }


    
}